<!-- your html code here -->
<!-- Esta seccion fue hecha por Oscar Bolaños Chacon -->
<section id="first_heading" class="py-5">
    <div class="container">
        <div class="row">
            <hr class="hr text-secondary my-5">
            <div class="col-md-8 mt-5">
                <h2 class="h1">
                    <span>This First Heading</span>
                    <span class="text-secondary">Will Catch Your Eye</span>
                </h2>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl
                    consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-4 mt-5">
                <img src="./assets/img/1.jpg" class="rounded-circle img-fluid" alt="Avatar">
            </div>
        </div>
    </div>
</section>