<div class="container-fluid d-flex justify-content-center align-items-center position-relative">
    <div class= "row d-flex justify-content-center align-items-center p-0">
        <div class=" z-n1 position-absolute p-4 rounded-3 w-100">
            <div class="bg-white text-center fs-1">
                <h1 class="display-1 fw-bold">One Page Wonder</h1>
            </div>
            <div class="bg-white text-center mt-3 fs-5">
                <h2 class="display-5 fw-bold">Will Knock Your Socks Off</h2>
            </div>
        </div>

        <img src="./assets/img/bg.jpg" class="z-n1" alt="">

    </div>
</div>